* {
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 5, 14);
    color: rgb(238, 130, 130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    margin: 20px 0 0 0;
}

.figure_container {
    fill:transparent;
    stroke: white;
    stroke-width: 1vh;
    stroke-linecap: round;
}

.game_container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 500px;
    width: 350px;
}

.figure_part {
    display: none;
}

.wrong_letter_containers {
    position: absolute;
    top: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong_letter_containers p {
    margin: 0 0 5px;
}

.wrong_letter_containers span {
    font-size: 25px;
}

.word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid #fff;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 0px 3px;
    padding-top: 9px;
    height: 40px;
    width: 25px;
}

.popup_container {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; 
    align-items: center;
    justify-content: center;
}

.popup {
    background: green;
    border-radius: 6px;
    box-shadow: 0 15px 10px 3px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color: paleturquoise;
    color: rgb(121, 12, 121);
    border: 0;
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 16px;
}

.popup button:active {
    transform: scale(0.98);
}

.popup button:focus {
    outline: 0;
}

.notification_container {
    background-color: rgba(236, 225, 225, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
}

.notification_container p {
    margin: 0;
}

.notification_container.show{
    transform: translateY(-50px);
}


